html{font-family:sans-serif}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
td {
    padding: 2px 2px;
    font-size: 16px;
}
p {
    margin: 0 0 10px;
}
h1{margin:.67em 0;font-size:2em}
h1,h2,h3{margin-top:20px;margin-bottom:10px;font-weight:500;line-height:1.1}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    white-space: pre;
}
code, kbd, pre, samp {
    font-family: monospace;
}
code{white-space: pre;}
pre:not([class]) { background-color: white; }
h1 { font-size: 34px; }
h1.title { font-size: 38px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 12px; }
.table th:not([align]) { text-align: left; }
.minHeight {
  min-height: 100px;
  height: auto;
  border: 1px solid red;
}

.overSelect {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
}

#checkboxes {
display: none;
border: 1px #dadada solid;
}

#checkboxes label {
display: block;
}

#checkboxes label:hover {
background-color: #1e90ff;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 256px;
  height: 400px;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 5px;
  text-align: left;
}

.inline {
  display:inline-block;
  position: relative;
}
.inline .content {
  display: none;
  position: absolute;
  top: 1em;
  left: 0;
  z-index: 99999;
  border-style: solid;
  background-color: white;
}
.inline:hover .content {
  display: block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.minHeight {
  min-height: 256px;
  height: auto;
  border: 1px solid red;
}

#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

#outer {
  width:10em;
  height:10em;
  position:relative; 
}

#inner {
  position:absolute;
  bottom:0;
}

.sliderow {
  width: 100%;
  height: auto;
  overflow: auto;
  white-space:nowrap;
}

.slide {
  display: inline-block;
  overflow: hidden;
}

.sliderow-wrap {
  width: 100%;
  height: auto;
  overflow: auto;
  white-space:wrap;
}

.IMimage {
  position:relative;
}

.IMtext {
  left: 0;
  position:absolute;
  text-align:center;
  top: 30%;
  width: 100%;
  color: white;
}

#carousel-wrap .slide {
  display: inline-block;
}

div.img {
width: 100%;
height: auto;
}

span.multiselect {
  padding: 4px 4px;
  height: 31px;
  font-weight: 400;
  cursor: pointer;
}

.grow {
  overflow: hidden;
}
.grow:hover {
  transform: scale(4);
}

